@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

:root {
    --body-ff:'Noto Sans KR', sans-serif;
    --body-fz:1rem;
    --line-height:27px;
    --primary-c :#2a40bd;
    --secondary-c :#c7db07;
    --white : #fff;
    --navy : #1a2562;
    --body-ntc:#545454;
    --body-ptc:#151515;
    --con-width : 1296px;
}
/* TYPOGRAPHY */
body{
    font-family: var(--body-ff);
    font-size: var(--body-fz);
    line-height: var(--line-height);
}
.content_tt{
    color: var(--primary-c);
    font-size: calc(var(--body-fz)*3.125);
    font-weight: 500;
    line-height: calc(var(--line-height)*2);
}
.content_desc{
    color: var(--body-ptc);
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 500;
}
.content_sub_tt{
    color: var(--white);
    font-size: calc(var(--body-fz)*3.125);
    font-weight: 500;
    line-height: calc(var(--line-height)*2);
}
.content_sub_desc{
    color: var(--white);
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 300;
}
strong{
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 700;
    color: var(--navy);
}
/* LAYOUT */
.container{
    width: var(--con-width);
    margin:0 auto;
}
.con-pd{
    padding: calc(var(--line-height)*5) 0;
}
.hidden{
    display: none;
}
main{
    overflow: hidden;
}
/* HEADER */
header{
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    padding: calc(var(--line-height)*2) 50px var(--line-height);
    display: flex;
    justify-content: space-between;
    height: var(--line-height);
    overflow: hidden;
    transition: 0.5s;
    background: transparent;
}
.top_nav > ul{
    display: flex;
}
.top_nav > ul > li{
    width: 160px;
    text-align: center;
}
.top_nav > ul > li > a{
    font-size: 20px;
}
.top_nav ul ul{
    /* display: block; */
    padding-top: calc(var(--line-height)*2);
}
header .top_nav ul ul li{
    color: var(--body-ptc);
    line-height: 43px;
}
/* -------------------------------- */
header > ul{
    display: flex;
    gap: 30px;
}
header ul li a{
    color: var(--white);
}
header > ul li:hover a{
    color: var(--primary-c);
}
.logo a{
    width: 216px;
    height: 26px;
    background: url(../images/common/Logo.png) no-repeat;
    display: block;
    text-indent: -9999em;
}
/* ----------------------------------- */
header.active{
    position: fixed;
    background: rgba(255,255,255,1);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
header.active .logo a{
    background: url(../images/common/Logo_sticky.png) no-repeat;
}
header.active .top_nav > ul > li > a{
    color: var(--body-ptc);
}
header.active .top_nav > ul > li > a:hover{
    color: var(--secondary-c);
}
header.active .top_nav ul ul a:hover{
    color: var(--secondary-c);
}
header.active ul li a{
    color: var(--body-ptc);
}
header.active > ul li a:hover{
    color: var(--primary-c);
}
/* -------------site map----------- */
.site_map{
    width: 800px;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    right: 0;
    z-index: 100;
    padding: 112px 50px 50px;
    display: none;
}
.site_map.active{
    display: block;
}
.close_btn{
    position: absolute;
    right: 50px;
    top: 54px;
}
.close_btn span{
    color: var(--white);
}
.menu1 li a{
    color: var(--white);
}
.menu1 > li > a{
    font-size: 24px;
    margin: 20px 0 15px;
    display: inline-block;
}
.menu1 > li{
    position: relative;
}
.menu1 > li::before{
    content: '';
    background: var(--secondary-c);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 60px;
}
.arrow_up{
    font-size: 48px;
    color: var(--white);
    position: absolute;
    right: 0;
    transform: rotate(0deg);
    transition: 0.5s;
}
.arrow_up.active{
    transform: rotate(180deg);
}
.menu2{
    display: flex;
    flex-wrap: wrap;
    padding: 27px 0 54px;
}

.menu2 > li{
    width: 25%;
}
.menu2 li a:hover{
    color: var(--secondary-c);
}
.menu3{
    padding-left: 10px;

}
.menu3 li a{
    font-size: 14px;
    font-weight: 300;
    position: relative;
}
.menu3 li a::before{
    content: '';
    background:var(--white);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
/* FOOTER */
footer{
    background: #f3f3f3;
    padding: calc(var(--line-height)*2) 0;
}
.button_links{
    display: flex;
    justify-content: space-between;
}
.button_links ul{
    display: flex;
    gap: 10px;
}
.button_links p{
    font-size: 56px;
    color: #333333;
    position: relative;
    left: -9px;
}
.button_links p:hover{
    color: var(--primary-c);
}
.button_links li a{
    text-indent: -9999em;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/common/sprite_image.png) no-repeat;
}
.button_links li:nth-child(2) a{
    background-position-x: -60px;
}
.button_links li:nth-child(3) a{
    background-position-x: -120px;
}
.button_links li:nth-child(4) a{
    background-position-x: -180px;
}
.button_links li a:hover{
    background-position-y: -60px;
}
.footer_menu{
    display: flex;
    gap: 54px;
}
.footer_menu li{
    position: relative;
}
.footer_menu li a{
    color: #333333;
    font-weight: 500;
}
.footer_menu li::after{
    content: '';
    background: #333333;
    width: 1px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
}
.footer_menu li:last-child::after{
    background: none;
}
.footer_menu_wrap{
    position: relative;
}
.footer_menu_wrap:after{
    content: '';
    background: #333333;
    height: 1px;
    width: 100%;
    position: absolute;
    margin: var(--line-height) 0;
}
.hyo_address ul{
    display: flex;
    gap: 60px;
}
.hyo_address{
    color: #333333;
    font-weight: 500;
}
.hyo_address li{
    position: relative;
}
.hyo_address li:first-child:after{
    content: '';
    background: #333333;
    width: 1px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}
.hyo_address_wrap{
    margin-top: calc(var(--line-height)*2);
    display: flex;
    justify-content: space-between
}
.hyo_address p{
    font-size: 14px;
}
/* TOP BUTTON */
body{
    position: relative;
}
#gotop{
    position: absolute;
    right: 50px;
    bottom: 400px;
    z-index: 2;
}
#gotop a{
    font-size: 70px;
    color: var(--body-ntc);
    border: var(--body-ntc) 2px solid;
    border-radius: 50%;
    background: var(--white);
}
#gotop a:hover{
    color: var(--primary-c);
    border: var(--primary-c) 2px solid;
}


/* 반응형 */

@media (max-width:1296px){
    .container{
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box;
    }
    header .top_nav .dep1{
        display: none;
    }
    h1{
        position: absolute;
        left: 50%;
        top: 54px;
        transform: translateX(-50%);
    }
    header > ul li:first-child{
        position: absolute;
        left:50px;
    }
}/* 1296이하 */

@media (max-width:768px){
    header > ul li:nth-child(2){
        display: none;
    }
    #gotop{
        right: 15px;
    }
    .footer_menu {
        gap: 6vw;
    }
    .footer_menu li::after{
        right: -3vw;
    }
    .hyo_address li:first-child:after{
        display: none;
    }
    .hyo_address_wrap, .hyo_address ul{
        flex-direction:column;
        gap: 0;
    }
    .hyo_address_wrap div:nth-child(2){
        margin: 0 auto;
    }
    #gotop a{
        font-size: 10vw;
    }
}/* 768이하 */

@media (max-width:480px){
    header{
        padding-left: 20px;
        padding-right: 20px;
    }
    header > ul li:nth-child(3) {
        right: 20px;
    }
    .logo a, header.active .logo a{
        width: 150px;
        background-size: contain;
    }
    .footer_menu{
        justify-content: center;
    }
    .footer_menu li a{
        font-size: 3vw;
    }
    .hyo_address{
        text-align: center;
    }
    .hyo_address ul li{
        font-size: 3vw;
    }
    .hyo_address p{
        font-size: 3vw;
    }
}/* 480이하 */