@import url(common.css);

/* video */
.video_container{
    position: relative;
    height: 100vh;
}
.video_bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.video_bg iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mouse_icon{
    position: absolute;
    left: 50%;
    bottom: 22px;
    transform: translateX(-50%);
    color: var(--white);
    text-align: center;
}
.mouse_icon span{
    font-size: 48px;
}
/* HYOSUNG WAY */
.hyosungway{
    text-align: center;
}
.hw_wrap{
    display: flex;
    justify-content: space-between;
}
.hyosungway > h3, .hw_wrap{
    padding: var(--line-height) 0;
}
.hw_wrap h3{
    font-size: calc(var(--body-fz)*1.875);
    font-weight: 700;
    line-height: calc(var(--line-height)*2);
    padding-top: var(--line-height);
}
.hw_wrap p{
    font-size: calc(var(--body-fz)*1.125);
}
.hw_txt_wrap{
    width: 905px;
    text-align: center;
    margin: 0 auto;
}
.hw_txt_wrap > p{
    padding-top: var(--line-height);
    font-size: calc(var(--body-fz)*1.125);
}
/* BUSINESS */
.business{
    background: url(../images/main/productbg.jpg) no-repeat center center/ cover;
    text-align: center;
}
.business h2{
    margin-top: var(--line-height);
}
.product_btn{
    padding: var(--line-height) 0 calc(var(--line-height)*2);
    display: flex;
    gap: 50px;
    justify-content: center;
}
.business .product_slide{
    margin-bottom: calc(var(--line-height)*2);
}
.product_btn > div > a{
    display: block;
    font-size: 80px;
    color: var(--body-ntc);
    background: var(--white);
    border: 2px solid var(--body-ntc);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: calc(var(--line-height)*4.4);
    margin-bottom: 13px;
}
.product_btn > div > span{
    font-size: calc(var(--body-fz)*1.5);
    color: var(--body-ntc);
    font-weight: 500;
}
.product_slide > ul{
    display: flex;
    justify-content: center;
    gap:24px;
}
.product_slide li:nth-child(n+5){
    display: none;
}
.product_slide > ul > li > span{
    display: block;
    text-align: left;
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 500;
    padding-top: 17px;
}
.product_slide{
    position: relative;
}
#trade{
    position: absolute;
    top:0;
}