@import url(common.css);

/* video */
.video_container{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.video_bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.video_bg video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
}
.mouse_icon{
    position: absolute;
    left: 50%;
    bottom: 22px;
    transform: translateX(-50%);
    color: var(--white);
    text-align: center;
}
.mouse_icon span{
    font-size: 48px;
}
/* HYOSUNG WAY */
.hyosungway{
    text-align: center;
}
.hw_wrap{
    display: flex;
    justify-content: space-between;
}
.hyosungway > h3, .hw_wrap{
    padding: var(--line-height) 0;
}
.hw_wrap h3{
    font-size: calc(var(--body-fz)*1.875);
    font-weight: 700;
    line-height: calc(var(--line-height)*2);
    padding-top: var(--line-height);
}
.hw_wrap p{
    font-size: calc(var(--body-fz)*1.125);
}
.hw_txt_wrap{
    width: 890px;
    text-align: center;
    margin: 0 auto;
}
.hw_txt_wrap > p{
    padding-top: var(--line-height);
    font-size: calc(var(--body-fz)*1.125);
}
.hyosungway *{
    opacity: 0;
    transition: 0.5s ease-out;
}
.hyosungway.active *{
    opacity: 1;
}
.hyosungway.active  h3{
    transition-delay: 0.2s;
}
.hyosungway.active  ul{
    transition-delay: 0.4s;
}
.hyosungway.active  .hw_txt_wrap{
    transition-delay: 0.6s;
}
/* BUSINESS */
.business{
    background: url(../images/main/productbg.jpg) no-repeat center center/ cover;
    text-align: center;
}
.business h2{
    margin-top: var(--line-height);
}
.product_btn{
    padding-top: var(--line-height);
    display: flex;
    gap: 50px;
    justify-content: center;
}
.business .controls span{
    font-size: 48px;
    color: var(--body-ntc);
    line-height: 48px;
}
.controls{
    display: flex;
    justify-content: flex-end;
    height: var(--line-height);
    padding-bottom: var(--line-height);
}
.controls span{
    position: relative;
    right: -17px;
}
.controls span:first-child{
    margin-right: 30px;
}
.controls span:first-child:after{
    content: '';
    height: 23px;
    width: 2px;
    background: var(--body-ntc);
    position: absolute;
    right: -15px;
    top: 12px;
}
.business .product_slide{
    margin-bottom: calc(var(--line-height)*2);
}
.product_btn > div > a{
    display: block;
    font-size: 80px;
    color: var(--body-ntc);
    background: var(--white);
    border: 2px solid var(--body-ntc);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: calc(var(--line-height)*4.4);
    margin-bottom: 13px;
}
.product_btn > div > span{
    font-size: calc(var(--body-fz)*1.5);
    color: var(--body-ntc);
    font-weight: 500;
}
.product_btn > div.active a{
    color: var(--white);
    background: var(--primary-c);
    border: var(--primary-c);
}
.product_btn > div.active span{
    color: var(--primary-c);
}
.product_slide ul{
    display: flex;
    gap:24px;
}
.product_slide li{
    width: 306px;
}
.product_slide li img{
    width: 100%;
    transition: 0.3s;
}
.product_slide li:hover img{
    transform: scale(1.1);
}
.product_slide li .img_wrap{
    position: relative;
    overflow: hidden;
}
.product_slide li .img_wrap::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}
.product_slide li p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity:0;
    transition: 0.3s;
    z-index: 2;
    color: var(--white);
    font-size: 48px;
}
.product_slide li:hover .img_wrap::before{
    opacity: 1;
}
.product_slide li:hover p{
    opacity: 1;
}
.product_slide li:nth-child(n+5){
    display: none;
}
.product_slide > ul > li > span{
    display: block;
    text-align: left;
    font-size: calc(var(--body-fz)*1.5);
    font-weight: 500;
    padding-top: 17px;
}
.product_slide{
    position: relative;
}
#trade{
    position: absolute;
    top:0;
    display: none;
}
/* SUSTAINABILTY */
.sustainabilty{
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.manage1{
    background: url(../images/main/bn1.jpg) no-repeat;
}
.manage2{
    background: url(../images/main/bn2.jpg) no-repeat;
}
.manage3{
    background: url(../images/main/bn3.jpg) no-repeat;
}
.sustainabilty > div{
    width: 33%;
    position: relative;
    transition: 0.5s;
}
.sustainabilty > div:hover {
    transform: scale(1.1);
    z-index: 1;
}
.sustainabilty .txt_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sustainabilty .txt_wrap h2{
    color: var(--white);
    margin-bottom: var(--line-height);
}
.sustainabilty .txt_wrap a{
    display: flex;
    justify-content: center;
    padding: 12px 0;
    color: var(--white);
    font-size: 24px;
    width: 190px;
    border: 3px solid var(--white);
    border-radius: 10px;
}
.sustainabilty .txt_wrap a:hover{
    background: var(--primary-c);
}
.sustainabilty .txt_wrap span{
    font-size: 34px;
}
/* NEWS */
.etc{
    background: url(../images/main/etcbg.jpg) no-repeat;
    padding-bottom: calc(var(--line-height)*4);
}
.etc > div{
    display: flex;
}
.etc .news ul{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.news_txt p{
    font-size: 24px;
    font-weight: 500;
    color: var(--primary-c);
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
.news_txt span{
    display: block;
    font-size: 35px;
    color: var(--primary-c);
    text-align: center;
}
.news_wrap{
    position: relative;
}
.news_wrap::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f3f3f3;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}
.news_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
}
.news ul li:hover .news_wrap::before{
    opacity: 1;
}
.news ul li:hover .news_txt{
    opacity: 1;
}
/* PR */
.etc h2{
    margin-bottom: calc(var(--line-height)*2);
}
.pr_video{
    width: 636px;
    height: 358px;
    text-indent: -9999em;
    background: url(../images/main/video.JPG) no-repeat center center /100%;
    display: block;
}
.video_wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.9);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.video_wrapper iframe{
    width: 1076px;
    height: 606px;
}
.video_wrapper.active{
    opacity: 1;
    visibility: visible;
}
.pr .employ{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    border: var(--primary-c) solid 3px;
    background: var(--white);
    margin: var(--line-height) 0;
    padding: 38px 0;
}
.pr .employ a{
    color: var(--body-ntc);
}
.pr .employ:hover{
    background: var(--primary-c);
}
.pr .employ:hover a{
    color: var(--white)
}
.pr ul{
    display: flex;
}
.pr ul li{
    width: 33%;
    padding: 34px 0;
}
.pr ul li:first-child{
    background: #8492e2;
}
.pr ul li:nth-child(2){
    background: #5469de;
}
.pr ul li:last-child{
    background: #2a40bd;
}
.pr ul li a{
    display: flex;
    justify-content: center;
    color: var(--white);
}
.pr ul li a span{
    font-size: 48px;
}
.pr ul li a p{
    font-size: 24px;
    margin-top: 10px;
}



/* 반응형 */

@media (max-width:1296px){
    .hw_wrap{
        padding: 27px 5vw;
        gap: 2vw;
    }
    .hw_wrap li{
        width: 25%;
    }
    .hw_wrap li img{
        width: 100%;
    }
    .hw_txt_wrap{
        width: 90%;
    }
    .etc{
        background-size: cover;
    }
    .etc > div{
        flex-direction:column;
        align-items: center;
    }
    .etc .pr h2{
        margin-top: 108px;
    }
    .etc .news{
        width: 636px;
    }
    .etc .news ul{
        justify-content: space-between;
    }
    .etc .news ul li{
        width: 48%;
    }
    .etc .news ul li div img{
        width: 100%;
    }
    .news_txt{
        width: 60%;
        height: 60%;
    }
}/* 1296이하 */

@media (max-width:768px){
    .hw_wrap{
        flex-wrap: wrap;
    }
    .hw_wrap li{
        width: 48%;
    }
    .hw_wrap h3{
        padding-top: 10px;
    }
    .hw_wrap p{
        padding-bottom: 27px;
    }
    .hw_txt_wrap > p{
        font-size: 15px;
    }
    .sustainabilty{
        flex-direction:column;
    }
    .sustainabilty > div{
        width: 100vw;
        height: 300px;
        background-position: center;
    }
    .etc .news{
        width: 100%;
    }
    .etc .news ul li {
        width: 47%;
    }
    .news_txt p{
        font-size: 1em;
        line-height: 1.5em;
    }
}/* 768이하 */

@media (max-width:480px){

}/* 480이하 */