@media screen and (max-width:1296px){
    .container{ width: 100%; padding:0 16px; box-sizing: border-box;}
    .banner img{width: 80%;}
    .feature_list li { width:32%;}
    .feature_list li+li {margin-left: 1.85%;}
}
@media screen and (max-width:640px){
    body > header h1, body > header nav{float:none;}
    .logo a {margin:0 auto;}
    body > header nav {text-align: center;}
    body > header nav ul{display: inline-block; vertical-align: top;}
    .feature_list li { width:100%;}
    .feature_list li+li {margin-left: 0;}
    .main_tt {font-size: 8vw;}
}
@media screen and (max-width:500px){
    .toggle {display: block;}
    body > header nav {height:0; overflow: hidden; padding: 0; transition:0.4s;}
    header nav li:first-child { margin-right: 20px;}
}